html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
.head{
    width: 100%;
    height: 15%;
    background-color:#405A47;
    border-radius: 0 0 16px 16px;
    display: block;
}
.user{
    width: 3rem;
    height: 3rem;
    position: relative;
    top:1.3rem;
    left: 1rem;
}
.username{
    position: relative;
    left: 6rem;
    bottom: 1.3rem;
    color: white;
    text-decoration: none;
}
.setting{
    width: 3rem;
    height: 3rem;
    position: relative;
    left: 93%;
}
.ya, .yar{
    list-style: none;
}
.yar{
    position: relative;
    left:80%;
}
.UA{
    margin: 2%;
    background-color: #D9D9D9;
    height: 43rem;
    width: 43%;
    border-radius: 16px;
    padding: 1rem;
    box-sizing: border-box;
}
.yai, .ua1, .ua2{
    background-color: #82A054;
    width: 86%;
    height: 10rem;
    position: relative;
    border-radius: 16px;
    padding: 1rem;
    margin: 1rem;
}
.else{
    margin: 2%;
    background-color: #D9D9D9;
    height: 43rem;
    width: 43%;
    border-radius: 16px;
    padding: 1rem;
    list-style: none;
    box-sizing: border-box;
    position:relative;
    left:6%;
}
.ea1{
    background-color: #82A054;
    width: 86%;
    height: 10rem;
    position: relative;
    border-radius: 16px;
    padding: 1rem;
    margin: 1rem;
}
.ea2{
    background-color: #82A054;
    width: 86%;
    height: 10rem;
    position: relative;
    border-radius: 16px;
    padding: 1rem;
    margin: 1rem;
}
.ea3{
    background-color: #82A054;
    width: 86%;
    height: 10rem;
    position: relative;
    border-radius: 16px;
    padding: 1rem;
    margin: 1rem;
}
.under{
    width: 100%;
    height: 10%;
    background-color: #405A47;
    position: relative;
    border-radius: 16px,16px,0,0;
}
.activities{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.content-wrapper {
    display: flex;
    width: 100%;
    flex: 1;
}
.st1, .st2, .st3{
    width: 3rem;
    height: 3rem;
    margin-left: 14%;
    margin-right: 13%;
    position: relative;
    top: 15%;
}
.yai:hover,
.ua1:hover,
.ua2:hover,
.ea1:hover,
.ea2:hover,
.ea3:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

@media only screen and (max-width:600px) {
    .content-wrapper{
        display: block;
    }
    .setting{
        left: 87%;
    }
    .else, .UA{
        width: auto;
    }
    .UA{
        height: auto;
    }
    .else{
        left: 0%;
    }
    .ua1, .ua2{
        display: none;
    }
    .st1, .st2, .st3{
        margin-left: 17;
        margin-right: auto;
    }
}